body{
    width: 100%;
    height: 100%;
}
div.bg1{
    width: 1440px;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    padding-top: 13vh;
}
div.bg2{
    background-color: hsl(0, 0%, 100%);
    width: 18%;
    max-width: 80%;
    height: calc(100vh - 40vh);
    display: block;
    margin: auto;
    border: 1px hidden;
    border-radius: 20px;
}
div.img{
    width: 90%;
    height: 55%;
    margin: auto;
    padding-top: 5%;
    }
img{
    border: 1px hidden;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
@font-face{
    font-family: Outfit;
    src: url(../Outfit-VariableFont_wght.ttf);
}
p.para1{
    font-family: Outfit;
    margin: auto;
    padding-top: 15px;
    width: calc(100% - 37%);
    text-align: center;
    font-size: clamp(10px ,15px, 20px);
    font-weight: 900;
}
p.para2{
    font-family: Outfit;
    font-weight: lighter;
    width: calc(100% - 12%);
    padding-top: 15px;
    margin: auto;
    text-align: center;
    font-size: clamp(10px,15px,20px);
    font-weight: 400;
}